<h2>@ViewBag.Message</h2>

@using (Html.BeginForm("About", "Home", FormMethod.Post))
{
    <fieldset>
        <input type="text" name="text" value="default" />
        <input type="submit" value="Submit"/>
    </fieldset>
}
