@{
    ViewBag.Title = "Home Page";

}



<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p id="quote">Bitchin quote</p>
            <footer>Dr. Briggs</footer>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <fieldset>
                <input type="text" name="text" value="default" />
                <input type="submit" value="Submit" />
            </fieldset>
        }
    </div>
</div>


@section scripts{
    <script lang="text/javascript">
        $(document).ready(function () {
            var requestUrl = '@Html.ActionLink("GetQuote", "Home")';

            function getQuote() {
                $.getJSON(requestUrl, function (data) {
                    $("#quote").text(data.text);
                }).fail(function () {
                    $("#quote").text("Your internet is borked.");
                });

                setTimeout(getQuote, 3000);
            }

            getQuote();
        });
    </script>
}